<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Kevin Diem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="resources/css/spectre.css"></link>
    <link rel="stylesheet" type="text/css" href="resources/css/style.css"></link>
  </head>

  <body>
    
    <section id="top">
      <section>
        <div id="intro">
          <p>Hi,</p> 
          <p>I'm Kevin.</p> 
          <p>I make <span id="type"></span> apps.</p>
        </div>
      </section>
      
      <section id="links">
        <div>
          <a href="#projects">Projects</a>
          <a href="https://github.com/kgdiem">Github</a>
          <a href="https://www.linkedin.com/in/kevin-diem-9b817b104/">Linkedin</a>
        </div>
      </section>
    </section>
    
    <section id="projects">
      <div>
        <a href="#" id="back"><</a>
        <h1>Projects</h1>
        <div class="container"></div>
      </div>
    </section>
    
    <script type="text/javascript" src="resources/js/index.js"></script>
    
  </body>
  
</html>