<form method="POST">
    <label for="name">Name</label>
    <input type="text" name="name"/>
    <br>
    
    <label for="category">Category</label>
    <select name="category">
        <option value="full">Full</option>
        <option value="front">Front</option>
        <option value="back">Back</option>
    </select>
    <br>
    
    <label for="url">Project URL</label>
    <input type="text" name="url"/>
    <br>
    
    <label for="img">Image URL</label>
    <input type="text" name="img"/>
    <br>
    
    <label for="git">Git URL</label>
    <input type="text" name="git"/>
    <br>
    
    <label for="attrs">Project attributes</label>
    <textarea name="attrs"></textarea>
    <br>
    
    <button>Submit</button>
</form>