section{
  width: 100vw;
}

#intro, #projects{
  padding: 75px 0 50px 75px;
}

#top{
  height: 100vh;
}

#intro p{
  font-size: 7em;
  line-height: 1em;
  -webkit-animation: breathing 5s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;
}

#links{
  text-align: center;
}

#links a{
  border: 2px solid #50596c;
  padding: 15px;
  font-size: 1.5em;
  color: #50596c;
  margin-right: 15px;
}

#projects{
  display: none;
  text-align: center;
}

.projects{
  text-align: left;
  padding: 0 75px 50px 75px;
}

.projects-div{
  display: table;
}

.projects h2{
  text-align: center;
}

.project-img{
  width: 50%;
  left: 0;
  height: auto;
  border: 2px solid #50596c;
}

.projects p{
  display: inline-block;
  text-align: left;
  width: 40%;
  margin-left: 5%;
  vertical-align: top;
}

.projects p img path{
  fill: #50596c;
}

#back{
  position: absolute;
  top: 15px;
  left: 75px;
  font-size: 3.5em;
  color: #50596c;
}

#back:hover{
  text-decoration: none;
}

@media screen and (max-width: 690px){
  #intro{
    padding: 50px 0 25px 50px;  
  }
  
  .projects{
    padding: 0 15px 0 15px;
    margin-bottom: 25px;
    text-align: center;
  }
  
  #back{
    left: 15px;
  }
  
  
  .project-img{
    width: 80%;
  }
  
  .projects p{
    width: 80%;
    margin-left: 0;
    margin-top: 10px;
  }
  
  #intro p{
    font-size: 5em;
  }
}

@media screen and (max-width: 440px){
  #intro {
    padding: 25px 0 25px 25px;
  }
  
  .projects{
    text-align: left;
  }
  
  #intro p{
    font-size: 3.5em;
  }
  
  #links{
    padding: 0 25px 25px 25px;
  }
  
  .project-img{
    width: 100%;
  }
  
  .projects p{
    width: 100%; 
  }
  
  #links a{
    display: block;
    margin-bottom: 10px;
  }
}

.rotateOut{
  animation: rotateOut 1s;
}

@keyframes rotateOut {
  0%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: bottom left;
    transform-style: preserve-3D;
  }
  
  50%{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: bottom left;
    transform-style: preserve-3D;
  }
  
  100%{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
    transform-style: preserve-3D;
  }
}


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.001);
    transform: scale(1.0001);
  }

  50% {
    -webkit-transform: scale(1.002);
    transform: scale(1.002);
  }
  
  75% {
    -webkit-transform: scale(1.001);
    transform: scale(1.001);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.001);
    -ms-transform: scale(1.001);
    transform: scale(1.001);
  }

  50% {
    -webkit-transform: scale(1.002);
    -ms-transform: scale(1.002);
    transform: scale(1.002);
  }
  
  75% {
    -webkit-transform: scale(1.001);
    -ms-transform: scale(1.001);
    transform: scale(1.001);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
