#intro{
  margin: 50px 0 50px 50px;
}


#projects{
  margin: 50px 25px 25px 25px;
}

#top{
  height: 100vh;
}

.breathe{
  -webkit-animation: breathing 10s ease-out infinite normal;
  animation: breathing 10s ease-out infinite normal;
}

#intro p{
  font-size: 5em;
  line-height: 1em;
}

#links{
  margin-top: 25px;
}

#links div{
  text-align: center;
}

#links a{
  border: 2px solid #50596c;
  padding: 15px;
  color: #50596c;
  font-size: 2em;
}

#links a:not(:last-child){
  margin-right: 15px;
}

#projects{
  display: none;
  text-align: center;
}

#projects h1{
  margin-bottom: 20px;
}

.projects{
  text-align: left;
  padding: 0 50px 50px 50px;
}

.projects-div{
  display: table;
}

.projects h2{
  text-align: center;
}

.project-img{
  width: 50%;
  left: 0;
  height: auto;
  border: 2px solid #50596c;
}

.projects p{
  display: inline-block;
  text-align: left;
  width: 40%;
  margin-left: 5%;
  vertical-align: top;
}

.projects p img path{
  fill: #50596c;
}

#back{
  position: absolute;
  top: 15px;
  left: 75px;
  font-size: 3.5em;
  color: #50596c;
}

#back:hover{
  text-decoration: none;
}

@media screen and (min-width: 960px){
  #intro{
    margin: 50px;
  }
  
  #intro p{
    font-size: 6em;
  }

  #links a{
    font-size: 3em;
  }
}

@media screen and (max-width: 690px){
  #intro, #links{
    margin: 25px;  
  }
  
  #apps{
    display: block;
  }
  
  #projects{
    margin: 25px 15px 25px 15px;
  }
  
  .projects{
    padding: 0;
  }
  
  .projects{
    margin-bottom: 25px;
    text-align: center;
  }
  
  #back{
    left: 15px;
  }
  
  .project-img{
    width: 80%;
  }
  
  .projects p{
    width: 80%;
    margin-left: 0;
    margin-top: 10px;
  }
  
  #intro p{
    font-size: 4em;
  }
  
  #links{
    margin-top: 0;  
    margin-bottom: 0;
  }
  
  #links a{
    display: block;
  }
  
  #links a:not(:last-child){
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 440px){
  #intro {
    margin: 25px 15px 25px 15px;
  }
  
  .projects{
    text-align: left;
  }
  
  #intro p{
    font-size: 3em;
  }
  
  #links{
    margin: 0 15px 0px 15px;
  }
  
  .project-img{
    width: 100%;
  }
  
  .projects p{
    width: 100%; 
  }
  
}

.rotateOut{
  animation: rotateOut 1s ease-out;
}

.rotateOutLeft{
  animation: rotateOutLeft 1s ease-out;
}

.rotateInBottom{
  animation: rotateInBottom 1s ease-in;
}

.rotateInTop{
  animation: rotateInTop 1s ease-in;
}

@keyframes rotateOut {
  
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
    transform-style: preserve-3D;
  }
}

@keyframes rotateOutLeft {
  
  100% {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: bottom left;
    transform-style: preserve-3D;
  }
}

@keyframes rotateInBottom {
  0%{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
    transform-style: preserve-3D;
  }
  
}

@keyframes rotateInTop {
  0%{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: bottom left;
    transform-style: preserve-3D;
  }
}


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.001);
    transform: scale(1.0001);
  }

  50% {
    -webkit-transform: scale(1.002);
    transform: scale(1.002);
  }
  
  75% {
    -webkit-transform: scale(1.001);
    transform: scale(1.001);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.001);
    -ms-transform: scale(1.001);
    transform: scale(1.001);
  }

  50% {
    -webkit-transform: scale(1.002);
    -ms-transform: scale(1.002);
    transform: scale(1.002);
  }
  
  75% {
    -webkit-transform: scale(1.001);
    -ms-transform: scale(1.001);
    transform: scale(1.001);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
